a
{
	color: whitesmoke;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	border-style: double;
    border-color:#FF7F50;
    border-width: thick;
    background-color:#666600;
	font-family: 'Pirata One', cursive;
	font-size: 25px;
}

a:hover, a:active
{
	background-color:#F0E68C;
}

h1
{
	font-family: 'Rye', cursive;
	color: #333300;
	font-size: 60px;
}

h2
{
    color:#FFF8DC;
	font-family: 'Orbitron', sans-serif;
	font-size:40px;
	text-align: center;
	border-style: dashed;
	border-width: thick;
	border-color:#556B2F;
	background-color:#BDB76B;
	border-radius:50px;
	width:350px;
	padding: 10px;
}

h3
{
	font-family: 'Handlee', cursive;
	color:#FF1493;
	background-color:#F5F5DC;
	font-size: 20px; 
}

h4
{
	font-family: 'Charmonman', cursive;
	font-size: 25px;
}

h5
{
	font-family: 'Homemade Apple', cursive;
	font-size: 17px;
	color: olive;
}

h6
{
	color: black;
	font-family: 'Homenaje', sans-serif;
	font-size:30px;
	text-align: center;
	text-decoration: underline;
	border-top-style: dotted;
  	border-right-style: solid;
  	border-bottom-style: dotted;
 	border-left-style: solid;
	border-color:#7CFC00;
	background-color: #E9967A;
	border-radius:10px;
	width:200px;
	padding: 10px;
}
p
{
	font-family: 'Patrick Hand', cursive;
	background-size: white;
	font-size: 20px;
}

table
{

}